<style>

	a:link {color : #C0C0C0;}
	a:visited {color : #C0C0C0;}
	a:hover {color : #C0C0C0;}
	a:active {color : #C0C0C0;}
		
	font
	{
		font-family : "Arial";
		font-size: 12.5px;
	}
	
	#anim1
	{
		width: 100px;
		height: 0;
		-webkit-transition : width 2s, height 2s, -webkit-transform 0.9s; /* Per Safari 3.1-6.0 */
		transition : width 2.0s, height 2.0s, transform 0.5s;
	}

	#selezione:hover
	{
		width : 23%;
		height : 10%;
		-webkit-transform : rotate(360deg); /* Funziona solo su Chrome, Safari, Opera */
		transform : rotate(360deg);
	}
	
	#dizionario:hover
	{
		width : 14%;
		height : 10%;
		-webkit-transform : rotate(360deg); /* Funziona solo su Chrome, Safari, Opera */
		transform : rotate(360deg);
	}
	
	#chat:hover
	{
		width : 9%;
		height : 10%;
		-webkit-transform : rotate(360deg); /* Funziona solo su Chrome, Safari, Opera */
		transform : rotate(360deg);
	}
	
	#credits:hover
	{
		width : 19%;
		height : 8%;
		-webkit-transform : rotate(360deg); /* Funziona solo su Chrome, Safari, Opera */
		transform : rotate(360deg);
	}
		
	#chat
	{
		position : fixed;
		top : 70%;
		width : 6%;
		left : 11%;
		display : none;
		-webkit-transition : width 2s, height 2s, -webkit-transform 0.9s; /* Per Safari 3.1-6.0 */
		transition : width 2.0s, height 2.0s, transform 0.5s;
	}
	
	#credits
	{
		position : fixed;
		top : 41%;
		width : 16%;
		left : 3%;
		display : none;
		-webkit-transition : width 2s, height 2s, -webkit-transform 0.9s; /* Per Safari 3.1-6.0 */
		transition : width 2.0s, height 2.0s, transform 0.5s;
	}
		
	#selezione
	{
		position : fixed;
		top : 50%;
		width : 20%;
		left : 5%;
		display : none;
		-webkit-transition : width 2s, height 2s, -webkit-transform 0.9s; /* Per Safari 3.1-6.0 */
		transition : width 2.0s, height 2.0s, transform 0.5s;
	}
		
	#dizionario
	{
		position : fixed;
		top : 60%;
		width : 10.5%;
		left : 8%;
		display : none;
		-webkit-transition : width 2s, height 2s, -webkit-transform 0.9s; /* Per Safari 3.1-6.0 */
		transition : width 2.0s, height 2.0s, transform 0.5s;
	}
		
	#logo
	{
		width : 44%;
		left : 56%;
		top : 12%;
		position : fixed;
		display : none;
	}	
	
	#red
	{
		width : 18%;
		left : 23%;
		top : 39%;
		position : fixed;
		display : none;
	}	
	
	#boxparola
	{
		margin : 20% 58%;
		padding : 1% 2%;
		width : 30%;
		height : 40%;
		opacity: 0.5; 
		border: 1px ridge rgb(136, 136, 136); 
		-webkit-box-shadow: rgb(179, 106, 0) 0px 0px 50px 21px inset; 
		box-shadow: rgb(179, 106, 0) 0px 0px 50px 21px inset; 
		background-color: rgb(255, 255, 255);
		position : fixed;
		display : none;
	}
	
	#sephirothalto
	{
		width : 15%;
		left : -100%;
		top : -100%;
		position : fixed;
		display : none;
		-webkit-animation: movetop 0.8s; /* Chrome, Safari, Opera */
		animation: movetop 0.8s;
	}
	
	@-webkit-keyframes movetop 
	{
		from {top: -120%; left : 70%;}
		to {top: 70%; left : 36%;}
	}
	
	@keyframes movetop 
	{
		from {top: -120%; left : 70%;}
		to {top: 70%; left : 36%;}
	}
	
	@-webkit-keyframes moveleft 
	{
		from {left: 36%;}
		to {left: -40%;}
	}
	
	@keyframes moveleft 
	{
		from {left: 36%;}
		to {left: -40%;}
	}
	
	#miss
	{
		top : 50%;
		left : 30%;
		width : 30%;
		position : fixed;
		display : none;
	}
	
	@-webkit-keyframes kidnap 
	{
		from {left: -70%; top : 120%;}
		to {left: 200%; top : -80%;}
	}
	
	@keyframes kidnap 
	{
		from {left: -70%; top : 120%;}
		to {left: 200%; top : -80%;}
	}
	
	#vincentvalentine
	{
		width : 55%;
		position : fixed;
		display : none;
		-webkit-animation: kidnap 2.5s; /* Chrome, Safari, Opera */
		animation: kidnap 2.5s;
	}
	
	#sephirothmiss
	{
		width : 20%;
		left : 36%;
		top : 69%;
		position : fixed;
		display : none;
	}
	
	#aerithpraying
	{
		width : 20%;
		left : 22%;
		top : 78%;
		position : fixed;
		display : none;
	}
	
	#sephiroth
	{
		width : 25%;
		left : 36%;
		top : 62%;
		position : fixed;
		display : none;
		-webkit-animation: moveleft 5.0s; /* Chrome, Safari, Opera */
		animation: moveleft 5.0s;
	}	
		
	#anima1, #menudiz
	{
		width : 100%;
		left : 0;
		top : 0;
		position : fixed;
		display : none;
	}
	
	#menu
	{	
		background-size: 100%;
		left : 0;
		top : 0;
		position : fixed;
		display : none;
	}
		
</style>